*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100%;
  /* background-color:rgb(114, 113, 113); */
  margin: 0 auto
}

a{
  text-decoration: none;
}

.btn a{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 20px;

}


/* header */

header{
  background-color: #3161e0;
  height: 100px;
  padding: 35px 0;
}

header .logo{
  float: left;
}

header ul li{
  list-style: none;
  float: left;
}

header .btn a{
  float: right;

}

header ul li a{
  color: white;
  padding: 0 15px;
}

.logo{
  padding-right: 300px;
}


/* jumbotron */

.jumbotron{
  background-image: url(img/jumbo.png);
  background-position: center;
  background-size: cover;
  padding: 70px 0;
}

.jumbotron .title{
  height: 300px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.jumbotron .title h1{
  padding-bottom: 40px;
}

/* section */

section.odd{
  background-color: white;
}

section.even{
  background-color: #f6f6f6;
}

section .col{
  width: 50%;
  float: left;
}

section .col .text{
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

section .col .text h2{
  font-size: 2rem;
  padding-bottom: 20px;
}

section .col .text p{
  font-size: 1rem;
}


section .col img{
  width: 100%;
}




div .banner{
  width: 90%;
  height: 100px;
  background-color: yellow;
  margin: 0 auto;
  border: 1px black solid;
}

/* Footer */

