*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.btn a{
  color: black;
  background-color: white;
  padding: 12px;
  border-radius: 20px;

}


/* header */

header{
  background-color: #3161e0;
  height: 100px;
  padding: 35px 0;
}

header .logo{
  float: left;
}

header ul li{
  list-style: none;
  float: left;
}

header .btn a{
  float: right;

}

header ul li a{
  color: white;
  padding: 0 15px;
}

.logo{
  padding-right: 300px;
}


/* jumbotron */

.jumbotron{
  background-image: url(img/jumbo.png);
  background-position: center;
  background-size: cover;
  padding: 70px 0;
}

.jumbotron .title{
  height: 300px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.jumbotron .title h1,p{
  padding-bottom: 40px;
}

.jumbotron .title .btn .btn-black{
  background-color: black;
  color: white;
}


/* section */

section.odd{
  background-color: white;
}

section.even{
  background-color: #f6f6f6;
}

section .box{
  width: 50%;
  float: left;
}

section .box .text{
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

section  h2{
  font-size: 2rem;
  padding-bottom: 20px;
}

section  p{
  font-size: 1rem;
}


section .box img{
  width: 100%;
}


div .blocco{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}


.blocco-3 .btn a{
  background-color: #8ea1e1;
  color: white;
}

.blocco-3 .btn{
  margin: 40px;
}

.blocco-3 .stars{
  background-image: url(img/stars.svg);
  background-size: contain;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
}


/* Footer */


footer{
  background-color: #23272a;
  width: 100%;
}

footer .col-big{
  width: 30%;
  float: left;
  padding: 80px 0;
}

footer .col-normal{
  width: calc(70%/4);
  float: left;
  padding: 80px 0;
}

footer .titolo{
  color: #7289da;
  font-weight: bold;
}

footer h2.titolo{
  font-size: 2.2rem;
  padding-bottom: 20px;
}

footer img{
  width: 20px;
}

footer ul li a,span{
  color: white;
}

footer ul li{
  text-decoration: none;
  list-style: none;
  padding-bottom: 10px;
}

